<h1>Ladies Who Lunch</h1>
<p>

<p>
The Ladies Who Lunch!

It's all in the name. What better way to spend that gorgeous impulse buy than put it on, grab a hat, and strut your fabulous self to lunch... or cocktail hour and dinner... or both! We're the best fun lovin' and saucy ladies in town! A new locale every few weeks, some damn (excuse me) good drink specials and some pinkies thrown in the air!
</p>

